.containerComponentesHome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemContainerComponentesHome {
  text-align: center;
  margin-bottom: 0.5em;
}

.itemContainerComponentesHome label {
  text-transform: uppercase;
  font-weight: bold;
}

.itemContainerComponentesHome .foto{
  width: 18vw;
}

.itemContainerComponentesHome .foto img{
  border-radius: 5%;
}

.itemContainerComponentesHome label{
  color: #373B78;
}

.itemContainerComponentesHome label:hover{
  cursor: pointer;
}