.HomeProfiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.HomeMemberPhoto figcaption {
  text-transform: capitalize;
  font-weight: bold;
  color: #34495E;
  text-align: center;
  margin-bottom: 0.5em;
}

.HomeMemberPhoto img{
  border-radius: 5%;
  width: 10vw;
}

.PairingPhoto img {
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

.TablePhotoColumn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SprintPairingTables {
  display: flex;
  justify-content: space-around;
}