.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  text-align: center;
  margin-bottom: 0.5em;
}

.item label {
  text-transform: uppercase;
  font-weight: bold;
}

.foto {
  width: 250px;
}

.borda {
  border-radius: 5%;
  border: 0.3em solid #373b78;
}

.item label{
  color: #373B78;
}

.item label:hover{
  cursor: pointer;
}